- if @posts.present?
  - @posts.each do |post|
    .article
      .info
        %h3.title= post.title
        %p.date= l post.published_at.to_date
      .content= post.content
- else
  %p Chwilowo brak aktualności.
