- if @posts.present?
  - @posts.each do |post|
    .article
      .info
        %h3.title= link_to post.title, post_path(post)
        %p.date= l post.published_at.to_date
      .content= simple_format post.content
- else
  %p Chwilowo brak aktualności.
