//= require foundation
//= require_tree .
//= require_self

.inline-errors, p.error, span.error, p.alert
  color: red

p.notice
  color: green

ol
  list-style: none

li.commit.button
  padding: 0
  background-color: inherit

a.button
  color: #FFF
  margin-bottom: 1em

#page
  margin: 0 auto
  width: 988px

body
  background-color: #EC8

#page
  background-color: white

.brown.button
  background-color: #960
  &:hover, &:focus
    background-color: #A71

#user_bar
  float: right
  margin-top: .5em

h1.logo a
  color: #000
  font-size: 120%
  font-family: 'Signika Negative' sans-serif
  &:hover, &:active
    background-color: inherit
    color: #420

ul.nav
  padding: 0
  li
    display: inline-block
    border: solid 1px #000
    margin: 0 -1px 0 0
    a
      padding: .5em 1em
      display: inline-block
      &:hover, &:active
        background-color: #420

ul.nav.secondary
  li
    border-color: #AAA
    a
      font-size: 80%

div.side
  background-color: #999

.content
  h2
    font-size: 180%
  h3
    font-size: 160%

fieldset.buttons
  border: none
  margin: 0
  padding: 0
  ol
    margin: 0
    padding: 0
    li
      margin: 0

.footer
  text-align: center
  color: #FFF
  background-color: #420
  margin: 1em -20px 0 -20px
  padding: .5em
  p
    margin-bottom: 0

ol.fragments-group
  li.fragment
    display: inline-block

.button_to
  margin: 0
  input
    margin: 0

.article
  border: solid 1px #CCC
  margin-bottom: 1em
  .info
    padding: 1em 1em 0 1em
    background-color: #420
    .title, .date
      font-size: 120%
      color: #FFF
      display: inline-block
    .title
      a
        color: #FFF
        &:hover, &:active
          color: #FFF
          background-color: inherit
          text-decoration: underline
    .date
      float: right
  .content
    padding: 1em
