//= require foundation
//= require_tree .
//= require_self

.inline-errors, p.error, span.error, p.alert
  color: red

p.notice
  color: green

ol
  list-style: none

li.commit.button
  padding: 0
  background-color: inherit

#page
  margin: 0 auto
  width: 988px

body
  background-color: #EC8

#page
  background-color: white
  padding: 0 2em 2em 2em

.brown.button
  background-color: #960
  &:hover, &:focus
    background-color: #A71

#user_bar
  float: right
  margin-top: .5em

h1.logo a
  color: #000
  font-size: 120%
  font-family: 'Signika Negative' sans-serif
  &:hover, &:active
    background-color: inherit
    color: #422

ul.nav
  padding: 0
  li
    display: inline-block
    border: solid 1px #000
    margin: 0 -1px 0 0
    a
      padding: .5em 1em
      display: inline-block

div.side
  background-color: #999

.content
  h2
    font-size: 180%
  h3
    font-size: 160%
