- content_for :title do
  Admin &raquo; Halny

!!!
%html
  =render partial: 'layouts/head'
  %body
    #page.container.admin
      =render partial: 'layouts/user_bar'
      =render partial: 'layouts/logo'
      =render partial: 'layouts/nav'
      =render partial: 'layouts/nav_secondary'
      =render partial: 'layouts/flash_messages'
      .row
        .content.twelve.columns= yield
      =render partial: 'layouts/footer'
