!!!
%html
  =render partial: 'layouts/head'
  %body
    #page.container
      =render partial: 'layouts/user_bar'
      =render partial: 'layouts/logo'
      =render partial: 'layouts/nav'
      =render partial: 'layouts/flash_messages'
      .row
        .content.nine.columns= yield
      =render partial: 'layouts/footer'
